*{
    box-sizing: border-box;
    color: black;
    font-family: 'Source Code Pro', monospace;
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(images/background2.png);
    background-size: auto;
    max-height: none;
    overflow-x: hidden;
}

/*Initial screen layout*/

#background1{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 1200px;
    background: url(images/background.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: burlywood;
    z-index: -5;
    top:0;
}   

.initial-nav-bar{
    position: absolute;
    background-color:lightgrey;
    text-align: center;
    border: 1px solid lightgrey;
    height: 50px;
    width: 100%;
    font-size: 20px;
    padding-top: 12px;
}

.image-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 800px;
}


.phone-image{
    text-align: center;
    display: block;
    width: 150px;
    text-align: center;
    position: absolute;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition:  0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    animation: bounce 0.7s ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    top: 40%;
    z-index: 3;
}

.red{
    text-align: center;
    display: block;
    width: 150px;
    text-align: center;
    position: absolute;
    display: none;
    top: 40%;
    z-index: 1;
}

.initial-one, .initial-two, .initial-three{
    z-index: -1;
    top: 41%;
    display: relative;
    height: 0;
    width: 150px;
}

.phone-background{
    background: white;
    width: 135px;
    height: 250px;
    max-width: 135px;
    max-height: 250px;
    margin-left: 8px;
    border-radius: 20px;
    z-index: -4;
    transition: none;
    -webkit-transition: none;
    -moz-transition:  none;
    -o-transition: none;
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
}

/*Search bar layout*/
.top-design{
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    min-width: 330px;
    width: 70%;
    max-width: 700px;
    height: 210px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
}

header{
    text-align: center;
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 15px;
}

.search-bar{
   margin-top: 1.5%;
   position: relative;
   text-align: center;
   margin-right: auto;
   margin-left: auto;   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   max-width: 300px;
}


label{
    display: block;
}

input{
    width: 80px;
    border-color: white;  
}

.bottom-bottons{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
}

#maxResults{
    width: 40px;
    margin-left: 5px;
}

#submit:hover{
    background-color: lightgrey;
}

#submit:active{
    background-color: grey;
    border-color: grey;
}

/*For Search result*/

.search-results{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70%;
    min-width: 300px;
    text-align: center;
    font-size: 15px;
}

.results, .result-specs{
    width: 100%;
    height: 50px;
    text-align: left;
    margin: 0;
    background-color: lightgrey;
    border: 1px solidl rgb(238, 216, 216);
    position: relative;
}
  
.result-specs{
    height: 300px;
    border: 1px solid black;
    margin:0;
    padding: 10px;
    overflow-y: scroll;
    list-style-type: none;
    background-color:  whitesmoke;
}
  
.click-to-see-specs{
      display: inline;
      position: absolute;
      right: 20px;
      display: none;
}

.see-specs, .close-specs{
    color: yellow;
    pointer-events: none;   
    position: relative;
    top: 12px;
    left: 10px;
    font-size: 12px;
}

.close-specs{
    display: none;
}
  
.show-reviews{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color:  lightgrey;
}


.see-videos, .close-videos{
    pointer-events: none;   
}

.close-videos{
    display: none;
}

td{
      height: 30px;
      vertical-align: top;
}

td.specs{
      font-weight: bold;
}

.review-videos{
    border: 1px solid black;
    height: 500px;
    background-color: white;
    position: relative;
    overflow-y: scroll;
    text-align: center;
    background-color:  whitesmoke;
}
  
.video{
    border: 1px solid black;
    min-width: 286px;
    min-height: 178px;
    width: 55vw;
    height: 35vw;
    margin-top: 50px;
}

.results:hover, .show-reviews:hover{
    background-color: grey;
    border-color: grey;
}
  
.results:active, .show-reviews:active{
    background-color: rgb(49, 47, 47);
    border-color: rgb(49, 47, 47);
}
    
.hidden{
    display: none;
}

.no-result-found{
      background-color:lightgrey;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid lightgrey;
      height: 50px;
      width: 70%;
      font-size: 20px;
      padding-top: 12px;
}


/* Use this to display different parts of the user views*/

.initial-screen{
    display: block;
}

.search-bar-screen{
    display: none;
}

.search-result-screen{
    display: none;
}

@media only screen and (max-width: 600px) {
    html{
        overflow: hidden;
    }
}

@media only screen and (min-width: 600px) {

    *{
        font-size: 21px;
    }

    /*Initial screen layout*/

    .initial-nav-bar{
        font-size: 22px;
        padding-top: 11px;
    }

    /*For Search result*/

    .top-design{
        height: 240px;
    }

    header{
        width: 400px;
        margin-bottom: 0px;
    }

    .search-bar{
        max-width: 400px;
    }   

    .condition input{
        font-size: 17px;
    }

    input{
        width: 100px;
    }   

    .bottom-bottons{
        top: 80px;
    }

    /*For Search result*/

    .review-videos{
        height: 600px;
    }
        
    .search-results{
        margin-top: 20px;
    }
    .see-specs, .close-specs{
        left: 10px;
        top: 10px;
        font-size: 13px;
    }

}

@media only screen and (min-width: 1000px) {

    *{
        font-size: 24px;
    }

    /*Initial screen layout*/

    .initial-nav-bar{
        font-size: 24px;
        padding-top: 9px;
    }

    
    /*For Search result*/

    .top-design{
        height: 280px;
    }

    header{
        width: 600px;
        margin-bottom: 0px;
    }
    
    .search-bar{
        max-width: 450px;
    }

    .condition input{
        font-size: 20px;
    }
    
    input{
        width: 120px;
    }    

    /*For Search result*/

    .search-results{
        margin-top: 20px;
    }

    .bottom-bottons{
        top: 120px;
    }

    .see-specs, .close-specs{
        left: 10px;
        top: 5px;
        font-size: 21px;
    }
}